
<div class = "p-5 justify-content-center" >
    <div class="card-body">
        <h5 class="card-title"><%= @ask %></h5>
        <p class="card-subtile mb-2 text-muted"> You</p>
        <p href="#"><%= link_to 'asking questions', ask_path %></p>

    </div>
    <div class="card-body">
        <h5 class="card-title"><%= @answer %></h5>
        <p class="card-subtile mb-2 text-muted"> Your Coach </p>
        <p href="#"><%= link_to 'asking questions', ask_path %></p>
    </div>
</div>
