<div class = "p-5 justify-content-center" >
  <div class="row ">
      <div class="card-boot">
          <form class= "input" action="/answer" method = "GET" data-turbo="false" class="form">
            <div  class= "col-6">
            <input type="text" name="ask" >
            <div class= "col-6">
            <input class="ask-btn"type="submit" value="Ask!">
          </form>
      </div>
    </div>
</div>
